.form-container{
    display: flex;
    justify-content: left;
    height: 60px;
}

.select{
    position: relative;
    border: 1px solid rgb(82, 82, 82);
    width: 300px;
    height: 20px;
    margin: 10px;    
    border-radius: 5px;
}

.button{
    width: 100px;
    height: 22px;
    margin: 10px 150px 10px 0;
    background-color: rgb(0, 132, 165);
    color: rgb(240, 248, 255);
    opacity: 70%;    
    border-radius: 5px;
}

.button:hover:enabled{
    background-color: rgb(0, 173, 216);
    color: rgb(0, 88, 122);
    opacity: 100%;
}

.error{
    position:absolute;
    transform: translate(15px, 20px);
    color: rgb(146, 2, 2);
}